<div class="container my-3 d-flex flex-column">
  <mat-card class="rounded mat-elevation-z3 m-3">
    <mat-card-content>
      <h2 class="example-h2">Tasks configuration</h2>
      <section class="d-flex flex-column">
        <mat-slide-toggle
          class="m-3">
          Allow more than one completed task
        </mat-slide-toggle>
        <mat-slide-toggle
          class="m-3">
          Allow reload grades
        </mat-slide-toggle>
        <mat-slide-toggle
          class="m-3">
          Allow remove completed tasks
        </mat-slide-toggle>
        <mat-slide-toggle
          class="m-3">
          Allow reload grades
        </mat-slide-toggle>
        <mat-slide-toggle
          class="m-3">
          Allow reload grades
        </mat-slide-toggle>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card class="rounded mat-elevation-z3 m-3">
    <mat-card-content>
      <h2 class="example-h2">Users configuration</h2>
      <section class="d-flex flex-column">
        <mat-slide-toggle
          class="m-3">
          Allow leave group
        </mat-slide-toggle>
      </section>
    </mat-card-content>
  </mat-card>
</div>
